{
  "extends": "airbnb",
  "parser": "babel-eslint",  // support for ES7 decorators and static variables
  "rules": {
    "comma-dangle": 0,  // not sure why airbnb turned this on. gross!
    "indent": [2, 4, {"SwitchCase": 1}],
    "no-unused-vars": [2, {          // we prefer to be able to declara all parameters a function receives
      "vars": "local",
      "args": "none"
    }],
    "max-len": [2, 120, 4, {"ignoreUrls": true}],  // set max line length to 120
    "arrow-body-style": [2, "always"],   //always force braces around arrow function body
    "no-param-reassign": [2, {"props": false}], // allow assign values to props of parameters 
    "react/jsx-indent-props": 0
  },
  "env": {
    "browser": true,
    "mocha": true,
    "jquery": true
  }
}
